@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.scan {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scan .qrcode {
  position: relative;
  width: 400px;
  height: 400px;
  background: url(QR_Code01.png);
  background-size: 400px;
}

.scan .qrcode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(QR_Code02.png);
  background-size: 400px;
}
